	 		<table class="table table-condensed"> 
		 		<thead> 
			 		<tr>
				 		<th>ID</th> 
				 		<th>Event Name</th> 
				 		<th>Location</th> 
				 		<th>Date</th> 
				 		<th></th> 
			 		</tr> 
		 		</thead> 
		 		<tbody> 
		 			<% @books.each do |book| %>
			 		<tr>
				 		<td><%= book.id %></td>
				 		<td><%= link_to book.name, book_path(book)%></td> 
				 		<td><%= book.author %></td> 
				 		<td><%= time_ago_in_words(book.created_at) %></td> 
				 		<td><%= link_to 'Edit', edit_book_path(book) %></td> 
				 	</tr> 
				 	<% end %>
		 		</tbody> 
	 		</table>
